footer {
    width: 100vw;
    height: 352px;
    background-color: #3B3B3B;
    margin-top: 300px;
}
.footCon {
    margin: 0 auto;
    width: 1100px;
    height: 352px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3B3B3B;
}
.footLogo {
    width: 146px;
    height: 75px;
    background-image: url(img/logo.png);
    background-size: cover;
}
.footM {
    margin-top: 15px;
}
.footM a {
    color: white;
    font-size: 15px;
    font-family: 'Noto Sans KR' , sans-serif;
    font-weight: 300px;
}
.footM :hover{
    color: #EDA34D;
    transition: all 0.5s;
}