.history{
    background-image: url(img/sub1.png);
    width: 100vw;
    height: 4262px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding-top: 50px;
}